body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-attachment: fixed; /* Efek parallax saat scroll */
    animation: gradient-animation 18s ease infinite;
    color: #000000;
}
.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
header {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    animation: gradient-animation 18s ease infinite;
    color: #2c2a2a;
    padding: 20px 0;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Menambahkan bayangan pada teks */
}

.slider {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
}

.social-logo {
    width: 30px; 
    height: auto; 
    cursor: pointer; 
    border-radius: 300px; 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
}

.instagram-contact, .whatsapp-contact {
    margin-top: 10px; 
    text-align: left; 
}